body {
	margin: 0;
	padding: 0;
	font-family: Arial, Sans-serif;
	font-size: 14px;
}

a:link {
	color: #B221BF;
	text-decoration: none;
}
a:visited {
	color: #B221BF;
	text-decoration: none
}
a:active {
	color: #B221BF;
	text-decoration: none
}
a:hover {
	color: #B221BF;
	text-decoration: underline; 
}

#head {
	width: 900px;
	height: 180px;
	margin: 0 auto;
	border-left: 1px solid #e7c7f0;
	border-right: 1px solid #e7c7f0;
	background-image:url(../img/banner.jpg);
}

#head h1 {
	padding: 5px;
	margin: 0;
	top: 15px;
	left: 15px;
	color: #FFF;
	font-size: 35px;
}

#head h2 {
	position: relative;
	padding: 5px;
	margin: 0;
	Top: -5px;
	color: #FFF;
	font-size: 15px;
}

#page {
	width: 900px;
	margin: 0 auto;
	border-top: 8px solid #e7c7f0;
	border-left: 1px solid #e7c7f0;
	border-right: 1px solid #e7c7f0;

	overflow: hidden;
	min-height:600px;
	background-image:url('../img/background.png');
	background-repeat:no-repeat;
	background-position:right bottom; 
}

#page p {
	padding: 0 5px;
}

#foot {
	border-top: 1px solid #e7c7f0;
}

#page h1 {
	margin: 0 5px;
	border-bottom: 1px solid #e7c7f0;
}

#page h2 {
	margin: 0 5px;
	border-bottom: 1px solid #e7c7f0;
}

#page h3 {
	margin: 0 5px;
	border-bottom: 1px solid #e7c7f0;
}

#page h5 {
	margin: 0 5px;
	border-bottom: 1px solid #e7c7f0;
}

#page h5 {
	margin: 0 5px;
	border-bottom: 1px solid #e7c7f0;
}